{% extends 'assets/add_assets.html' %}
{% load assets bob history_tags %}

{% block form_title %}Add devices{% endblock %}


{% block additional_inputs %}
  {% for field in additional_info %}
    {% field_wrapper field %}
  {% endfor %}
{% endblock %}

{% block multivalue_inputs %}
  {% for field_name in multivalue_fields %}
  {% with field=asset_form|get_item:field_name %}
    <div class="span4">
      <div class="control-group{% if field.errors %} error{% endif %}">
        <label {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="help-block">{% for error in field.errors %}{{ error }} {% endfor %}</div>
        {% endif %}
      </div>
    </div>
    {% endwith %}
  {% endfor %}
{% endblock %}
