{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% load assets %}

{% block content %}
<div class="row">
  <h3>{% block form_title %}{% endblock %}</h3>
</div>

<form id="{{ form_id }}" class="form form-horizontal" method="POST"{% if edit_mode %} enctype="multipart/form-data"{% endif %} {% dependency_data asset_form %}>
  {% csrf_token %}

  <div class="row">
    <div class="row-fluid">

      <div class="span6">
      {% for fieldset_label, fields in asset_form.fieldsets.items %}
        <div class="row-fluid well fieldset">
          <h6>{{fieldset_label}}</h6>

        {% for field in fields %}
          {% with field=asset_form|get_item:field %}
            {% if field.html_name not in multivalues_fields or edit_mode %}
              {% field_wrapper field %}
            {% endif %}
          {% endwith %}
        {% endfor %}

        </div>
      {% endfor %}
      </div>

      <div class="span6">
        <div class="row-fluid well">
          <h6>Additional Info</h6>
          {% block additional_inputs %}{% endblock %}
        </div>
      </div>

      <div class="span6">
        <div id="one-level-textareas-wrapper" class="row">
          <div id="one-level-textareas">
            {% block multivalue_inputs %} {# sn, barcode, imei #} {% endblock %}
          </div>
        </div>
      </div>

      {% include 'assets/attachment_table.html' with attachment_parent=asset mode=mode parent_name='asset'%}

      {% block office_info_inputs %}{% endblock %}

    </div>

  </div>

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <button name="asset" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>

{% include 'assets/attachment_deletion.html' with attachment_parent=asset mode=mode parent_name='asset'%}
{% endblock %}
