{% extends 'assets/add_assets.html' %}
{% load bob %}

{% block form_title %}Add parts{% endblock %}

{% block additional_inputs %}
  {% for field in part_info_form %}
    {% field_wrapper field %}
  {% endfor %}
{% endblock %}

{% block multivalue_inputs %}
<div class="span3">
  <div class="control-group{% if asset_form.sn.errors %} error{% endif %}">
    <label {% if asset_form.sn.field.required %}class="required"{% endif %}>{{ asset_form.sn.label }}</label>
    {{ asset_form.sn }}
    {% if asset_form.sn.errors %}
      <div class="help-block">{% for error in asset_form.sn.errors %}{{ error }} {% endfor %}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
