{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% load assets %}

{% block content %}
<div class="row">
  <h3>{% block form_title %}{% endblock %}</h3>
</div>

<form id="{{ form_id }}" class="form form-horizontal" method="POST"{% if edit_mode %} enctype="multipart/form-data"{% endif %} {% dependency_data asset_form %}>
  {% csrf_token %}

  <div class="row">
    <div class="row-fluid">

      <div class="span6">
      {% for fieldset_label, fields in asset_form.fieldsets.items %}
        <div class="row-fluid well fieldset">
          <h6>{{fieldset_label}}</h6>

        {% for field in fields %}
          {% with field=asset_form|get_item:field %}
            {% if field.html_name not in multivalues_fields or edit_mode %}
              {% field_wrapper field %}
            {% endif %}
          {% endwith %}
        {% endfor %}

        </div>
      {% endfor %}
      </div>

      <div class="span6">
        <div class="row-fluid well">
          <h6>Additional Info</h6>
          {% block additional_inputs %}{% endblock %}
        </div>
      </div>

      <div class="span6">
        <div id="one-level-textareas-wrapper" class="row">
          <div id="one-level-textareas">
            {% block multivalue_inputs %} {# sn, barcode, imei #} {% endblock %}
          </div>
        </div>
      </div>

      {% if asset %}
      <div class="span6">
          <a target='_blank' href="">
            {% trans "TODO: link, All attachments" %}
          </a>
          <a class='pull-right' target='_blank'
            href="{% url add_attachment mode=mode parent='asset' %}?select={{asset.id}}">
            {% trans "Add attachment" %}
          </a>
      </div>

        {# TODO: move it to seperate file when submitting outside form will be removed #}
        <div class="span6">
            <h5>Attachments history: </h5>
            <table class="table table-striped table-bordered details-history">
                <thead><tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Original file name" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr></thead>
                <tbody>
                {% for file in asset.latest_attachments %}
                  <tr>
                    <td>{{ file.created|timesince_limited }}</td>
                    <td>{{ file.uploaded_by|default:'' }}</td>
                    <td>
                      <a href="{{MEDIA_URL}}{{file.file.name}}">
                      {{ file.original_filename }}
                      </a>
                    </td>
                    <td>
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <span class='btn btn-link delete-attachment'
                              data-form-id='delete-attachment-{{file.id}}'
                              data-delete-type='from_one'
                            >
                              {% trans "Delete from THIS asset" %}
                            </span>
                            <li class="divider"></li>
                            <span class='btn btn-link delete-attachment'
                              data-form-id='delete-attachment-{{file.id}}'
                              data-delete-type='from_all'
                            >
                              {% trans "Delete from ALL assets" %}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td colspan='3'>
          <a style='text-align:right' target='_blank' href="">
            {% trans "Show all" %}
          </a>
                    </td>
                    <td style='text-align:center' >
          <a target='_blank'
            href="{% url add_attachment mode=mode parent='asset' %}?select={{asset.id}}">
            {% trans "Add attachment" %}
          </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

      {% endif %}

      {% block office_info_inputs %}{% endblock %}

    </div>

  </div>

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <button name="asset" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>

{% if asset %}
  <div id='attachments-forms'>
  {% if asset.attachments.all %}
    {% for attachment in asset.attachments.all %}
      <form id='delete-attachment-{{attachment.id}}' class='form-inline'
        method="POST" action="{% url delete_attachment mode=mode parent='asset' %}"
        target="_blank"
      >
        {% csrf_token %}
        <input type='hidden' name='parent_id' value='{{ asset.id }}'>
        <input type='hidden' name='attachment_id' value='{{ attachment.id }}'>
        <input type='hidden' name='delete_type' value=''>
      </form>
    {% endfor %}
  {% endif %}
  </div>
{% endif %}

{% endblock %}
