{% extends 'ui/base.html' %}
{% load bob %}
{% load icons %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/style.css">

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        showAddAnotherPopup = function(e) {
            window.open(e.href + e.previousElementSibling.value);
            if (typeof(this.event) != 'undefined') {
                this.event.preventDefault();
            };
            return false;
    }
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/split.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/fill-fields.js"></script>
    <script type="text/javascript">
        var editor;
        $(".code_field").each(function(index, el) {
            editor = ace.edit(el.id);
            var that = this;
            editor.getSelection().on('changeCursor', function(ev){
            })
        });
    </script>
{% endblock %}

{% block contentarea %}
    <div class="content{% if detect_changes %} detect-changes{% endif %}">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if sidebar %}
        {% sidebar_menu sidebar active_sidebar_item %}
    {% endif %}
    {% block sidebar_search %}
    {% endblock %}
{% endblock %}
