<tr class="level-{{level|add:1}}{% if not node.parent %} root{% else %} collapsed hide{% endif %}" data-uid="{{ node.uid }}" data-parent={{ parent }}>
  <td class="{% if node.children %}icon{% else %}zero{% endif %}"><span class="indented">{{ node.name }}</span></td>
  <td>{{ node.count }}</td>
  {% if report.links %}
    <td><a href="{{ node.link.url }}">{{ node.link.label }}</a></td>
  {% endif %}
</tr>
{% if node.children %}
  {% for ch in node.children %}
    {% with parent=node.uid node=ch level=level|add:1 template_name="assets/report_tree.html" %}
        {% include template_name %}
    {% endwith %}
  {% endfor %}
{% endif %}
