{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
  <h3>{% trans "Support list" %}</h3>
</div>
<table class="table table-bordered">
{% for support in supports %}
            <tr>
                <td><a href="{{ support.url }}">{{ support }}</a></td>
                <td></td>
                <td>
                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu pull-right">
                            <li>
                                <form class='form-inline' method="POST" action="delete/">
                                    {% csrf_token %}
                                    <input type='hidden' name='record_id' value='{{ support.id }}'>
                                    <input class='btn btn-link del-asset-btn' value='Delete' type='submit'>
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
{% endfor %}
 </table>
{% endblock %}
