{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block content %}
    <h1>{{ transition_type }}</h1>

    <ul>
    {% for asset in assets %}
        <li>
            <a href="{{ asset.url }}" target="_blank">{{ asset }}</a>
            {% if 'unassign_licences' in actions_names %}
            <ul>
                {% for licence in asset.licences.all %}
                <li><a href="{{ licence.url }}" target="_blank">{{ licence }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if not transition_ended %}
        {% form_horizontal form=transition_form method="post" action=action_url %}
    {% elif required_report %}
        <h4>
            {% trans "click " %}
            <a href="{{ report_link }}" TARGET = "_blank">{% trans "here" %}</a>
            {% trans "to download report" %}
        </h4>
    {% endif %}
    {% if transition_ended %}
        <p><a href="{% url asset_search 'back_office' %}"> {% trans "back to home" %}</a></p>
    {% endif %}


{% endblock %}

