{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}
{% load icons %}
{% load assets %}

{% block extra_headers %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}


{% block sidebar_search%}
    <div class="form search-form well well-small" id="sidebar_search">
        {% trans "Hint: you can use quotation marks for exact matches." %}
        <hr>
        {% form form=form method="GET" action='' submit_label='Search' css_class=''%}
    </div>
    {% endblock %}

{% block content %}
    <h3>{% trans "User list" %}</h3>
        <table id='assets_table' class="table table-bordered table-striped">
        {% table_header columns url_query sort fugue_icons=1 sort_variable_name=sort_variable_name %}
                <tbody>
                {% for row in bob_page %}
                <tr>
                    <td>
                        <a href="{% url user_view row.username %}">{{ row.username }}</a>
                    </td>
                    <td><a href="{% edit_url row %}">Edit </a></td>
                </tr>
                {% endfor %}
                </tbody>
        </table>

            {% pagination bob_page url_query=url_query show_all=0 show_csv=1 fugue_icons=1 export_variable_name=export_variable_name %}
            <div id="eta"></div>
            <div class="progress" id="async-progress">
                <div class="bar"></div>
            </div>
{% endblock %}
