{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block content %}

{% if wizard.steps.current == 'upload' %}
<p>Upload an XLS file. This file should:
<ul>
    <li>Contain asset ids as the first column</li>
    <li>The first row should contain labels for columns</li>
</ul>
</p>
{% endif %}
{% if wizard.steps.current == 'column_choice' %}
<p>Match the names from XLS file with the asset fields.
</p>
{% endif %}
{% if wizard.steps.current == 'confirm' %}
<p>This data got extracted from provided XLS file. Please make sure the data
is OK. Submitting the data is irreversible.</p>
<table>
    <thead>
        <th>{% trans "Asset id" %}</th>
        {% for name in all_columns %}
        <th>{{ name }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for row in table %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<form id="{{ form_id }}" class="form form-horizontal" method="POST" enctype="multipart/form-data">
    <table>
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form }}
    </table>
    <button name="asset" type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{% endblock %}
