{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block content %}
<p>
{% trans "Import done" %}
</p>
{% if failed_assets %}
<p>
{% trans "The following assets couldn't be found:" %}
</p>
<ul>
    {% for asset_id in failed_assets %}
        <li>{{ asset_id }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if errors %}
<p>
{% trans "Following errors were encountered:" %}
</p>
<table>
    {% for k, v in errors.items %}
    <tr>
        <td>{{ k }}</td><td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</p>

{% endblock %}
