{% extends 'assets/base.html' %}
{% load bob %}
{% load i18n %}

{% block content %}
<h1>{% trans "Import done" %}</h1>

{% if failed_assets %}
  <h4> {% trans "The following assets couldn't be found:" %} </h4>
  <ul>
  {% for asset_id in failed_assets %}
    <li>{{ asset_id }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% if errors %}
  <h4> {% trans "Following errors were encountered:" %} </h4>
  <table class='table'>
    {% for k, v in errors.items %}
    <tr>
      <td>{{ k }}</td><td>{{ v }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}
