{% load i18n %}

<ul class="nav nav-tabs">
  <li{% ifequal active_tab 'basic_info' %} class="active"{% endifequal %}>
    <a href="{% url edit_licence obj.id %}">{% trans "Basic info" %}</a>
  </li>
  <li{% ifequal active_tab 'assets' %} class="active"{% endifequal %}>
    <a href="{% url licence_connections_assets obj.id %}">{% trans "Assigned to assets" %}</a>
  </li>
  <li{% ifequal active_tab 'users' %} class="active"{% endifequal %}>
    <a href="{% url licence_connections_users obj.id %}">{% trans "Assigned to users" %}</a>
  </li>
</ul>
