.auto-complete-blue {
    color: blue;
}
.asset-container {
    padding: 3px;
}
.asset-model, .asset-deleted {
    color: red;
}
.asset-sn,
.asset-category {
    color: green;
}
.asset-barcode,
.asset-user-department {
    color: blue;
}
/* fill multiple rows */
#fill_all_rows {
  color: white;
  text-decoration: underline;
}
#float_toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 4px;
  background-color: white;
  border: solid #ccc 2px;
  border-radius: 3px;
  display: none;
}
.overflow-x {
    overflow-x: scroll;
}
.scrollable-table {
    min-width: 2000px;
}

p.help {
    display: none;
}

#one-level-textareas-wrapper {
    overflow-x: auto;
}

#one-level-textareas {
    width: 700px;
}

#one-level-textareas > div {
    width: 220px;
    float: left;
}

#attchments-list {
    list-style-type: none;
}

.bulk-table td {
    vertical-align:middle;
}

.bulk-table input, .bulk-table select {
    min-width: 100px;
}

.dropdown-menu-indended a {
  padding: 3px 0 3px 30px;
}

.section-title a {
  font-weight: bold;
  font-size: 12px;
}

.del-asset-btn {
    color: #FF0000;
}

.markerless-list {
    list-style-type: none;
}

.delete-attachment {
    color: #ff0011;
}

.fieldset { }

.well {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.select-all-pages,
.selected-assets-info-box {
  display: none;
}

.bolded {
  font-weight: bold;
}

.datepicker + span.help-block {
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.xls-upload-info {
    margin-top: 25px;
}

.licence-niw {
    color: blue;
}

input[type=submit] {
    padding: 0px;
}

div#sidebar_search input, div#sidebar_search select{
    width: 90%;
}

form.form-inline {
    display: inline;
}

.bulk-table textarea {
    min-width: 150px;
}
.report {
  width: 50%;
  margin-top:15px;
}
.report .icon:before {
  content:'';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../fugue-icons.png');
  margin-right: 5px;
}
.report .collapsed .icon:before, .report .root .icon:before {
  background-position: -912px -192px;
}
.report .expanded .icon:before {
  background-position: -864px -192px;
}
.report tr td.icon {
    cursor: pointer;
}
.hide {display: none;}
.root {display: table-row;}
.report .level-1 .zero .indented {margin-left: 0;}
.report .level-1 .icon:before {margin-left: 0;}
.report .level-2 .zero .indented {margin-left: 36px;}
.report .level-2 .icon:before {margin-left: 20px;}
.report .level-3 .zero .indented {margin-left: 56px;}
.report .level-3 .icon:before {margin-left: 40px;}
.report .level-4 .zero .indented {margin-left: 76px;}
.report .level-4 .icon:before {margin-left: 60px;}
.report .level-5 .zero .indented {margin-left: 96px;}
.report .level-5 .icon:before {margin-left: 80px;}

.licence-count-input {
  width: 40px;
}

.delete_row input {
  display: none;
}
