.asset-container {
    padding: 3px;
}
.asset-model, .asset-deleted {
    color: red;
}
.asset-sn {
    color: green;
}
.asset-barcode,
.asset-user-department {
    color: blue;
}
/* fill multiple rows */
#fill_all_rows {
  color: white;
  text-decoration: underline;
}
#float_toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 4px;
  background-color: white;
  border: solid #ccc 2px;
  border-radius: 3px;
  display: none;
}
.overflow-x {
    overflow-x: scroll;
}
.scrollable-table {
    min-width: 2000px;
}

p.help {
    display: none;
}

#one-level-textareas {
    margin-left: 35px;
    overflow-x: auto;
    width: 700px;
}

#one-level-textareas > div {
    width: 220px;
    float: left;
}

.bulk-table input, .bulk-table select {
    min-width: 100px;
}
